<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<pokeapi>
			<options>
				<pokeapi_url>https://pokeapi.co/api/v2/pokemon/</pokeapi_url>
			</options>
		</pokeapi>
	</default>
</config>
